#root,html body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  height: 100vh;
  width: 100%;
}
.ant-layout{
  height: 100%;
}
.ant-layout-header {
  background: #525252;
  height: 100px;
}

.ant-layout-content {
  height: 100%;
  /*background: #0f49a9;*/
}
